<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>E-Ticaret Sitemize Hoşgeldiniz</h1>
    </div>
</section>

<carousel>
    <slide>
        <img src="assets/images/slider2.jpg" alt="gorsel 1" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/slider4.png" alt="gorsel 2" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/slider1.jpg" alt="gorsel 3" style="display: block; width: 100%;">
    </slide>
</carousel>



 


